.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #005AB5;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #FFB000;
  }